<html>
<head>
  <title>Kamerleed</title>
  <style type="text/css">
  body {
    background: white;
    color: black;
/*    font-size: 5em; */
    font-family: Helvetica, Verdana, Arial, sans-serif;
  }
  
  #wrapper {
    width: 700px;
    margin: 100px auto 0 auto;
  }
  
  #floor {
    background: url(/images/zaal.png);
    width: 500px;
    height: 374px;
    margin: 0 auto;
  }

  #marker {
    position: relative;
    padding: 5px;
    width: 260px;
    border: 1px solid black;
    background: white;
  }

  #marker img {
    float: left;
  }

  #marker p {
    margin: 0;
  }

  #sharing {
    margin: 80px 0 0 250px;
  }

  .sharing-button {
    float: left;
  }
  
  .clear {
    clear: both;
  }
  
  .block1 {
    top: 150px;
    left: 80px;
  }

  .block2 {
    top: 220px;
    left: 120px;
  }

  .block3 {
    top: 260px;
    left: 200px;
  }

  .block4 {
    top: 260px;
    left: 300px;
  }

  .block5 {
    top: 220px;
    left: 380px;
  }

  .block6 {
    top: 150px;
    left: 420px;
  }

  </style>
</head>
<body>
  <div id="wrapper">
    <div id="floor">
      <div id="marker" class="block<%= @kamerlid['blockId'] %>">
        <img src="http://www.tweedekamer.nl/<%= @kamerlid['photo'] %>" title="<%= @kamerlid['name'] %>" />
        <p><%= @sentence %></p>
        <p class="clear"></p>
      </div>
    </div>
    <div id="sharing">
      <div class="sharing-button">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="HackdeOverheid" data-lang="nl"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <div class="sharing-button">
        <div id="fb-root"></div>
        <div class="fb-like" data-href="http://www.kamerleed.nl/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=202705566491057";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <script src="/javascripts/mousetrap.min.js" type="text/javascript"> </script>  
  <script src="/javascripts/jquery-1.10.2.min.js" type="text/javascript"> </script>
  <script src="/javascripts/jquery.easing.1.3.min.js" type="text/javascript"> </script>

  <script type="text/javascript">
Mousetrap.bind(['space', 'enter'], function() { window.location.reload(); });
Mousetrap.bind('?', function() { alert('Druk op spatie of op enter om te reloaden!'); });
  </script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42657290-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>