<div class="twoops">
  <a href="http://www.politwoops.nl/users/{%=o.user_name%}" target="_blank">
  <img src="{%=o.politician.avatar%}" widht="73" height="73" class="avatar" />
  </a>
  <div class="tweet">
    <h3><a href="http://www.politwoops.nl/users/{%=o.user_name%}" target="_blank">
    {%=o.politician.first_name%} {%=o.politician.last_name%}
    </a></h3>
    <p class="username">
    <a href="http://www.politwoops.nl/users/{%=o.user_name%}" target="_blank">@{%=o.user_name%}</a>
    </p>
    <p class="content">
    {%=o.content%}
    </p>
  </div>
  <div class="clear"></div>
</div>