<div class="twoops">
  <img src="{%=o.politician.avatar%}" widht="73" height="73" class="avatar" />
  <div class="tweet">
    <h3>{%=o.politician.first_name%} {%=o.politician.last_name%}</h3>
    <p class="username">@{%=o.user_name%}</p>
    <p class="content">
    {%=o.content%}
    </p>
  </div>
  <div class="clear"></div>
</div>