<div class="twoops" id="twoops-{%=o.id%}">
    <div class="info">
      <a href="http://www.politwoops.nl/users/{%=o.user_name%}" target="_blank">
      <img src="{%=o.politician.avatar%}" widht="73" height="73" class="avatar" />
      </a>
      <h3><a href="http://www.politwoops.nl/users/{%=o.user_name%}" target="_blank">
      {%=o.politician.first_name%} {%=o.politician.last_name%}
      </a></h3>
      <p class="username">
      <a href="http://www.politwoops.nl/users/{%=o.user_name%}" target="_blank">@{%=o.user_name%}</a>
      </p>
      <p class="deleted"></p>
      <p class="after"></p>
    </div>
    <p class="content">
    {%=o.content%}
    </p>
  <div class="clear"></div>
</div>